{% extends 'base.html.twig' %}
{%block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/bien.css">
{% endblock %}
{% block title %}{{bien.titre}}{% endblock %}

{% block body %}
<div class="titre" style="background-image:url({{bien.imageLarge}}) ">
    <div class="container">
        <h1>{{bien.titre}}</h1>
        <p>{{bien.introduction}}</p>
        <p class="h2">
            <strong>{{bien.surface}}m²</strong> pour <strong>{{bien.prix}}&euro;
            </strong> par nuit
        </p>
        <a href="#" class="btn btn-primary btn-arrondi">Réserver !</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
            {{bien.contenu|raw}}

    <div class="carousel slide mt-5" data-ride="carousel" id="carouselExampleIndicators">
        <ol class="carousel-indicators">
            {% for image in bien.images %}
                <li {% if loop.first %}class="active"{% endif %} data-slide-to="{{loop.index0}}" data-target="#carouselExampleIndicators"></li>
            {% endfor %}
            </ol>
        <div class="carousel-inner ">
            {% for image in bien.images %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img alt="..." class="d-block w-100" src="{{image.url}}">

                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{bien.titre}}</h5>
                        <p>{{image.legende}}</p>
                    </div>

                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


        </div>
        <div class="col">
            <div class="row">
                <div class="col-4">
                    <img alt="propriétaire" src="https://via.placeholder.com/64">
                </div>
                <div class="col">
                    <h3>Joseph Dupond</h3>
                    <span class="badge badge-primary">3 annonces</span>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempore beatae odit cumque impedit voluptate excepturi, aliquid fuga a magni?</p>
            <p>Esse suscipit eos unde. Quo id cupiditate unde adipisci nobis nam repellendus alias quod omnis delectus vero quibusdam, cum asperiores!</p>
            <p>Atque deserunt iste eligendi, repudiandae ea totam sunt culpa harum. Explicabo facere sint cumque sit recusandae accusantium consectetur, aliquam quia.</p>
        </div>
    </div>
</div>





   
</div>

{% endblock %}