{% extends 'base.html.twig' %}
{%block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/reserve.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
{% endblock %}
{% block title %}Demeures-Réserver{% endblock %}
{% form_theme form '/elements/_formimages.html.twig' %}
{% block body %}
<div class="titre" style="background-image:url('{{annonce.imagelarge}}') ">
    <div class="container">
        <h1>Réservez <span class="chevron">&#60;&#60;</span>{{annonce.titre}}<span class="chevron">
        &#62;&#62;</span></h1>
    </div>
</div>
<div class="container">
    <div class="alert alert-light">
        <p class="presente ">Vous êtes sur le point de réserver le bien de
            <strong>{{annonce.proprio.identite}}
            </strong>, dites-nous tout, on s'occupe du reste !</p>
        <h1>Choisissez vos dates de réservation :</h1>
        {{form_start(form)}}
        <div class="row mt-3">
            <div class="col-6">
                <p>Choisissez la date à laquelle vous désirez arriver :</p>
                <div class="largeform mt-3">
                    {{form_row(form.dateentree)}}
                </div>
            </div>
            <div class="col-6">
                <p>Choisissez la date à laquelle vous désirez quitter les lieux :</p>
                <div class="largeform mt-3">
                    {{form_row(form.datesortie)}}
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-10 mt-4">
                <p>Un commentaire :</p>
                <div class="commentaire mt-3">
                    {{form_row(form.commentaire)}}
                </div>
            </div>
        </div>
        <h5 class="mt-4">Montant du séjour :
            <span id="montant"> &nbsp;&nbsp;&nbsp;</span>
            &euro; (
            <span id="nuits"> &nbsp;&nbsp;&nbsp;</span>
            nuits à
            {{annonce.prix}}
            &euro; la nuit. )</h5>
            
        <button class="btn btn-success ml-4 mt-4 bdr" type="submit">Je réserve !
        </button>
        {{form_end(form)}}
        
    </div>
</div>


{% endblock %}



{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src='/js/ajoutimage.js'></script>
<script>
    $(document).ready(function(){
        $('#reservation_dateentree,#reservation_datesortie').datepicker({
            format:'dd/mm/yyyy',
            datesDisabled:[
                {% for jour in annonce.joursReserves %}
                    "{{ jour.format('d/m/Y') }}",
                {% endfor %}
            ],
            startDate:new Date()
        });
        $('#reservation_dateentree,#reservation_datesortie').on('change',calculMontant);
    });

    function calculMontant(){
        let datesortie=new Date($('#reservation_datesortie').val().replace(/(\d+)\/(\d+)\/(\d{4})/,'$3-$2-$1'));
        let dateentree=new Date($('#reservation_dateentree').val().replace(/(\d+)\/(\d+)\/(\d{4})/,'$3-$2-$1'));
        if((dateentree && datesortie) && (dateentree<datesortie)){
            let interval = datesortie.getTime()-dateentree.getTime();
            let jour=24*60*60*1000;
            let nbjours=interval/jour;
            let montant=nbjours*{{annonce.prix}};
            $('#nuits').text(nbjours);
            $('#montant').text(montant.toLocaleString('fr-FR'));
        }
    }
</script>

{% endblock %}