<div class="col-md-4 mb-5">
    <div class="card bg-light bg-3">
        <div class="card-header text-center">
            <p class="mb-2">3 chambres,
            <strong>{{bien.prix}}€ / nuit</strong><br></p>
            {% if bien.commentaires|length >0 %}
                {% include 'elements/notation.html.twig' with {'note': bien.moyenne } %}
            {% else %}
                <small>Pas encore noté</small>
            {% endif %}
            <img alt="image de l'appartement" class="imageappart mt-3" src="{{bien.imageLarge}}">
            <div class="card-body">
                <h4 class="card-title">
                    {{bien.titre}}
                    
                </h4>
                <p class="card-text">{{bien.introduction}}</p>
                <a class="btn btn-secondary bdr" href="{{path('cette_annonce',{'slug':bien.slug})}}">En savoir plus !</a>
                {% if bien.proprio is same as(app.user) %}
                        <div class="mt-3">
                            <a href="{{path('modifier_annonce',{slug:bien.slug})}}" 
                            class="btn btn-warning bdr mr-2 mb-2">Modifier cette annonce</a>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
