{% extends 'base.html.twig' %}
{%block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/build/bien.css">
{% endblock %}
{% block title %}Nouveau centre d'intérêt{% endblock %}
{% form_theme form '/elements/_formimages.html.twig' %}
{% block body %}
<div class="titre" style="background-image:url('/images/bandeaumoderne.jpg') ">
    <div class="container">
        <h1>Un lieu, un festival, une balade inédite, ...</h1>
        <p>Vous trouverez ici le questionnaire utile à la description de ce nouveau lieu</p>
        <p class="h2">
            Choisissez de<strong> belles photos</strong> et rédigez de<strong>
            belles descriptions !
            </strong> Partagez-le !
        </p>
        
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mb-3 px-5">
            <h1>Modifiez " {{ loisir.nom }} "</h1>
            {{form_start(form)}}
            <div class="largeform mt-3" style="display:none ">
                {{form_row(form.nom)}}
            </div>
            {{form_widget(form)}}
            <button class="btn btn-primary" type="submit">Créer cette fiche.
            </button>
            {{form_end(form)}}
        </div>
    </div>
   
</div>

{% endblock %}



{% block javascripts %}
<script src='/js/ajoutimage.js'></script>
{% endblock %}