{% extends 'base.html.twig' %}
{%block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/build/bien.css">
{% endblock %}
{% block title %}Nouveau centre d'intérêt{% endblock %}
{% form_theme form '/elements/_formimages.html.twig' %}
{% block body %}
<div class="titre" style="background-image:url('/images/bandeaumoderne.jpg') ">
    <div class="container">
        <h1>Un lieu, un festival, une balade inédite, ...</h1>
        <p>Vous trouverez ici le questionnaire utile à la description de ce nouveau lieu</p>
        <p class="h2">
            Choisissez de<strong> belles photos</strong> et rédigez de<strong>
            belles descriptions !
            </strong> Partagez-le !
        </p>
        
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mb-3 px-5">
            <h1>Modifiez " {{ loisir.nom }} "</h1>
            {{form_start(form)}}
            <div class="largeform mt-3" style="display:none ">
                {{form_row(form.nom)}}
            </div>
            {{form_row(form.genresinterets)}}
            {{form_row(form.type2)}}
            {{form_row(form.lien)}}
            {{form_row(form.presentation)}}
            {{form_row(form.description)}}
            {{form_row(form.adresse)}}
            {{form_row(form.pays)}}
            {{form_row(form.ville)}}
            {{form_row(form.code_postal)}}
            {{form_row(form.region)}}
            {{form_row(form.lat)}}
            {{form_row(form.lng)}}
            {{form_row(form.photo1File)}}
            {{form_row(form.photo2File)}}
            {{form_row(form.photo3File)}}
            

            
            
            <button class="btn btn-primary" type="submit">Créer cette fiche.
            </button>
            {{form_end(form)}}
        </div>
    </div>
   
</div>

{% endblock %}



{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>



function choixtag(event){   
    if(this.options[this.selectedIndex].text== "Sélectionnez une catégorie"){
        let selecte=document.getElementById('interets_type2');
        let optactu=selecte.getElementsByTagName('option');    
        let opt=listecopy.listTags;       
        limite=optactu.length;
        for(let i=1; i<limite;i++){
            selecte.options.remove(1);
        }
        return;
    }
    else{
        let selecte=document.getElementById('interets_type2');
        let optactu=selecte.getElementsByTagName('option');    
        let opt=listecopy.listTags;        
        limite=optactu.length;
        for(let i=1; i<limite;i++){
            selecte.options.remove(1);
        }    
        for( option of opt){
            
            selecte.options[selecte.options.length]=option;
        }       
    }   
    event.preventDefault();
    const genre=this.value;
    
    
    axios.get('/genre/tags/'+genre)
        .then(function(response){
                        
            let indicetags=JSON.parse(response.data.tags);           
            var longueur=indicetags.length;
            fin=indicetags[0]+longueur;
            let selecte=document.getElementById('interets_type2');            
            let opt=listecopy.listTags;
            limite=opt.length;
                      
            for( option of opt){               
                nb=parseInt(option.value);
                if(indicetags.includes(nb)){
                    nbb=nb;
                    indiceenleve=option.value;
                    
                    for(let i=1; i<nb;i++){
                        selecte.options.remove(1);
                    }
                    for(let j=longueur+1; j<=limite-nb+1;j++){
                        selecte.options.remove(longueur+1);
                    }
                    break;                    
                }               
            }   
    });   
}


function OptionL(htmllist){
    this.listTags=htmllist;
}
var selection=document.getElementById('interets_type2');
const list=selection.getElementsByTagName('option');
const listinitiale= new OptionL(list);


const listc=[...list];
var listecopy = Object.assign({},listinitiale);
listecopy.listTags=listc;

for( option of list){
    if(option.text=="{{loisir.type2}}"){
        option.setAttribute("selected", "selected");
        console.log(option);
    }
    
}

        
document.querySelector('#interets_genresinterets').onchange=choixtag;

//<script src='/js/ajoutimage.js'></script>
{% endblock %}